.tabuleiro {
  background-color: rgb(255, 186, 186);
  display: grid;
  grid-template-columns: repeat(7, 25px);
  gap: 5px;
  width: fit-content;
  min-height: 25px;
}

.disco {
  border-radius: 50%;   
  border: 1.5px solid black;
}

.disco[data-cor="branco"] {
  background: white;
}

.disco[data-cor="preto"] {
  background: black;
}

.disco[data-cor="transparente"] {
  border-color: transparent;
}
